nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  @extend .light-blue-text, .text-accent-4;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
  .section {
    width: 100%;
  }
}

.icon-block {
  padding: 0 15px;
  .material-icons {
    font-size: inherit;
    @extend .light-blue-text, .text-accent-4;
  }
}

.large-icon {
  font-size: 2.8rem;
}

#header-btn {
  margin-top: 32px;
}

.parallax {
  img {
    min-height: 100%;
    min-width: 100%;
  }
}

.shadowed {
  text-shadow: 2px 2px rgba(0,0,0,.5);
}

.navbar-fixed {
  height: 72px;
}

nav {
  height: 72px;
  padding: 4px 0;
}

#logo-container {
  img {
    max-height: 64px;
    max-width: 100%;
  }
}

.logo-header {
  img {
    max-width: 100%;
    max-height: 300px;
  }
}

.important-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  background-color: #b55063;
  height: 48px;
  p {
    @extend .white-text;
    margin: 0;
  }
}

#map {
  width: 100%;
  height: 60vh;
  border: none;
}

.nav-wrapper {
  margin: 0 auto;
  width: 100%;
  @media only screen and (min-width: 1100px) {
    width: 90%;
  }
}

.anchor {
  padding-top: 92px;
}

#left-panel {
  z-index: 1;
  height: auto;
  width: 17rem;
  background-color: rgba(0,0,0,.6);
  padding: 0 1rem;
}

#map-search {
  height: 2.5rem;
  width: 85%;
  font: 400 1rem Roboto, Arial, sans-serif;
}

#search-btn {
  padding: 0 5px;
}

.video-overlay {
    position: absolute;
    width: 100%;
    text-align: center;
    height: 100%;
}

.carousel-item {
  p {
    font-size: 1.2rem !important;
  }
  h2 {
    i {
      font-size: 2.5rem !important;
    }
  }
}

.indicator-item {
  margin: 4px 4px !important;
}

.fine-print {
  margin: 0;
  font-size: .8rem;
  padding: 16px;
  line-height: 1rem;
}

.waves-effect.waves-blue .waves-ripple {
  background-color: rgba(0, 145, 234, 0.65);
}

.modal {
  @media only screen and (max-width: 1400px) {
    width: 75%;
    height: 80% !important;
    max-height: 80%;
  }
  @media only screen and (max-width: $large-screen) {
    width: 80%;
    height: 80% !important;
    max-height: 80%;
  }
  @media only screen and (max-width: $small-screen) {
    width: 100%;
    height: 90% !important;
    max-height: 90%;
  }
}

.btn-modal {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  padding: 0;
  border-radius: 40px;
  margin: 4px 10px !important;
}

.indented {
  text-indent: 2rem;
}

.hidden {
  display: none;
}

.author {
  font-style: italic;
}

.full-width {
  width: 100%;
}

#top-split-box {
  border-radius: 12px 12px 0 0;
  margin: 0;
  h1 {
    @media only screen and (max-width: $small-screen) {
      font-size: 2.5rem;
    }
    margin: 24px 0;
  }
}

#bottom-split-box {
  border-width: thin;
  border-color: #0091ea;
  border-style: solid;
  border-radius: 0 0 12px 12px;
  h2 {
    @media only screen and (max-width: $small-screen) {
      font-size: 2rem;
    }
    margin: 24px 0;
  }
}

.box {
	color: #fff;
	font-size: 3vw;
	display: flex;
  align-items: center;
  justify-content: center;
}

.module--horizontal {
	width: 100%;
	overflow: hidden;
}

.module--horizontal .box {
	width: 100%;
}

.glide__slide {
  border-left: thin solid white;
  border-right: thin solid white;
  opacity: 0.5;
          transition: opacity .6s;
       -o-transition: opacity .6s;
     -moz-transition: opacity .6s;
  -webkit-transition: opacity .6s;
  div {
    img {
      width: 100%;
    }
  }
}

.glide__slide.active {
  opacity: 1;
}

.glide__track {
  margin: 0;
}
