.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
    height: 700px;
    height: calc(100vh - 120px);
    overflow: hidden;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}

.video-container {
    position: initial;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: rgba(255,255,255,0.3);
    .poster img {
      min-height: 100%;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -2
    }
    .filter {
        z-index: 100;
        position: absolute;
        background: rgba(0, 0, 0, 0);
        width: 100%;
    }
    video {
        position: absolute;
        z-index: -1;
        bottom: 0;
        right: 0;
    }
    video.fillWidth {
        min-height: 100%;
    }
  }
