<div class="container">
<div class="row">
  <div class="col l6 s12">
    <h5 class="white-text">Fairport Ridge Apartments</h5>
    <p class="grey-text text-lighten-4">{{ site.data.general.footer_text }}</p>
  </div>
  <div class="col l4 offset-l2 s12">
    <h5 class="white-text">Site Map</h5>
    <ul>
      <li><a class="grey-text text-lighten-3" href="#amenities">Amenities</a></li>
      <li><a class="grey-text text-lighten-3" href="#availability">Availability</a></li>
      <li><a class="grey-text text-lighten-3" href="#pricing">Pricing</a></li>
      <li><a class="grey-text text-lighten-3" href="#lifestyle">Lifestyle</a></li>
      <li><a class="grey-text text-lighten-3" href="#testimonials">Testimonials</a></li>
      <li><a class="grey-text text-lighten-3" href="#map">Location</a></li>
      <li><a class="grey-text text-lighten-3" href="#pictures">Pictures</a></li>
      <li><a class="grey-text text-lighten-3" href="#faq">FAQ</a></li>
      <li><a class="grey-text text-lighten-3" href="#contact">Contact Us</a></li>
    </ul>
  </div>
</div>
</div>
<div class="footer-copyright">
  <div class="container">
  © 2018 Fairport Ridge Apartments
  <a class="grey-text text-lighten-4 right" href="https://github.com/robinator8" target="_blank">Created by Robert Craig</a>
  </div>
</div>
