<div class="section">

  <div class="row light-blue accent-4" id="top-split-box">
    <h1 class="header col s12 center white-text">Fairport Ridge Apartments</h1>
  </div>

  <div class="row" id="bottom-split-box">
    <h2 class="header col s12 center light-blue-text text-accent-4">Luxury Apartments near Corning, New York.</h2>
  </div>

  <div class="row">
    <div class="col s12 m4">
      <div class="icon-block">
        <h3 class="center large-icon"><a id="amenities" class="anchor"><i class="material-icons">done_all</i></a></h3>
        <h2 class="center">Amenities</h2>
        <ul>
          <li><i class="material-icons">done</i> Pet Friendly</li>
          <li><i class="material-icons">done</i> Attached Garages</li>
          <li><i class="material-icons">done</i> Single Story</li>
          <li><i class="material-icons">done</i> Low Density Housing</li>
          <li><i class="material-icons">done</i> Spacious Design</li>
          <li><i class="material-icons">done</i> Modern Kitchen</li>
          <li><i class="material-icons">done</i> Excellent Craftsmanship</li>
          <li><i class="material-icons">done</i> Energy Efficient</li>
        </ul>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="icon-block">
        <h3 class="center large-icon"><a id="availability" class="anchor"><i class="material-icons">group</i></a></h3>
        <h2 class="center">Availability</h2>
        <p class="light">Availability is rare, but you can add yourself to the mailing list for future vacancies.</p>
      </div>
    </div>

    <div class="col s12 m4">
      <div class="icon-block">
        <h3 class="center large-icon"><a id="pricing" class="anchor"><i class="material-icons">attach_money</i></a></h3>
        <h2 class="center">Pricing</h2>
        <p class="light">Prices range from $1,000 to $2,000. Our luxury apartments beat out our competitors in price to square foot!</p>
      </div>
    </div>
  </div>

</div>
