<div class="section">
  <div class="row">
    <div class="col s12 center">
      <h2><a id="Pictures" class="anchor">Pictures</a></h2>
    </div>
  </div>
  <div class="module module--horizontal z-depth-4">
    <div id="Carousel" class="glide">
      <div class="glide__arrows">
        <a class="glide__arrow btn-floating btn-large waves-effect waves-light prev" data-glide-dir="<"><i class="material-icons">navigate_before</i></a>
        <a class="glide__arrow btn-floating btn-large waves-effect waves-light next" data-glide-dir=">"><i class="material-icons">navigate_next</i></a>
      </div>
      <div class="glide__wrapper">
        <ul class="glide__track">
          {% for image in site.data.images %}
          <li class="glide__slide translucent">
            <div class="box" style="background-color: #121212;">
              <img src="img/{{ image.src }}">
            </div>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div class="glide__bullets"></div>
    </div>
  </div>
</div>
