<div class="video-container">
  <div class="video-overlay valign-wrapper">
    <div class="container">
      <a href="#" class="logo-header"><img src="img/logo.png" alt="Fairport Ridge, Luxury Apartments logo"></a>
      <div class="row center">
        <a href="#contact" id="header-btn" class="btn-large waves-effect waves-light light-blue accent-4">{{ site.data.general.contact_button }}</a>
      </div>
    </div>
  </div>
  <video loop class="fillWidth" preload="none" id="video-header">
    <source src="img/Up.mp4" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
    <source src="img/Up.webm" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
  </video>
  <div class="poster">
    <img src="img/Up.jpg" alt="Scenic clouds">
  </div>
</div>
