---
layout: default
---
<div class="navbar-fixed">
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="#" class="brand-logo"><img src="img/logo.png" alt=""></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Amenities</a></li>
        <li><a href="#">Availability</a></li>
        <li><a href="#">Pricing</a></li>
        <li><a href="#">Lifestyle</a></li>
        <li><a href="#">Location</a></li>
        <li><a href="#">Pictures</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Contact</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Amenities</a></li>
        <li><a href="#">Pricing</a></li>
        <li><a href="#">Lifestyle</a></li>
        <li><a href="#">FAQ</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>
</div>
<div class="important-header valign-wrapper center">
  <p>One suite available!</p>
</div>
<section id="index-banner" class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container center">
      <a href="#" class="logo-header"><img src="img/logo.png" alt=""></a>
      <!--
      <br><br>
      <h1 class="header center teal-text text-lighten-2">Design 2</h1>
      <div class="row center">
        <h5 class="header col s12 light">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</h5>
      </div>
      <div class="row center">
        <a href="#" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Apply Now</a>
      </div>
      <br><br>
    -->
    </div>
  </div>
  <div class="parallax"><img src="img/background1.jpg" alt="Unsplashed background img 1"></div>
</section>


<section class="container">
  <div class="section">

    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center"><i class="material-icons">done_all</i></h2>
          <h5 class="center">Amenities</h5>
          <ul>
            <li><i class="material-icons">done</i> Pet Friendly</li>
            <li><i class="material-icons">done</i> Attached Garages</li>
            <li><i class="material-icons">done</i> Single Story</li>
            <li><i class="material-icons">done</i> Spacious Design</li>
            <li><i class="material-icons">done</i> Modern Kitchen</li>
          </ul>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center"><i class="material-icons">group</i></h2>
          <h5 class="center">Availability</h5>
          <p class="light">Availability is rare, but you can add yourself to the mailing list for future vacancies.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center"><i class="material-icons">attach_money</i></h2>
          <h5 class="center">Pricing</h5>
          <p class="light">Prices range from $1,000 to $2,000. Our luxury apartments beat out our competitors in price to square foot!</p>
        </div>
      </div>
    </div>

  </div>
</section>


<section class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">The most luxurious apartment complex in Corning, Bigflat, Elmira, and Horseheads.</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="img/background1.jpg" alt="Unsplashed background img 2"></div>
</section>

<div class="container">
  <div class="section">

    <div class="row">
      <div class="col s12 center">
        <h3><i class="mdi-content-send brown-text"></i></h3>
        <h4>Information</h4>
        <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
    </div>

  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><img src="img/background1.jpg" alt="Unsplashed background img 3"></div>
</div>

<footer class="page-footer teal">

  <div class="footer-copyright">
    <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a> taken by Robert Craig
    </div>
  </div>
</footer>
